[run]
branch = True

omit =
        app/app.py
        app/config/*
        app/cli/*

[report]
skip_empty = True

exclude_lines =
                @abstractmethod
                case _:
                def __str__
                if __name__ == .__main__.: